apiVersion: v1
kind: ConfigMap
metadata:
  name: letter-config
data:
  DEBUG: "True"
  DJANGO_ALLOWED_HOSTS: "localhost,127.0.0.1,letters-service"
  POSTGRES_DB_FOR_LETTERS_SVC: letters_db
  POSTGRES_USER_FOR_LETTERS_SVC: postgres
  DB_ENGINE: django.db.backends.postgresql
  DB_NAME: letters_db
  DB_USER: postgres
  DB_HOST: postgres-service
  DB_PORT: "5432"
  RABBITMQ_HOST: rabbitmq-service
  RABBITMQ_PORT: "5672"
  RABBITMQ_VHOST: /
  RABBITMQ_USER: guest
  LETTER_STORAGE_SERVICE_BASE_URL: "http://letter-storage-service:80"
  AUTH_SERVICE_URL: "http://auth-service:8001/auth"
  AUTH_TOKEN_VERIFY_ENDPOINT: "/internal/verify/"
